{% extends 'base.html.twig' %}

{% block title %}HelloRecettes - Mes recettes
{% endblock %}

{% block body %}
	<div class="container mt-4">
			{% if not recipes.items is same as([]) %}
				<h1 class="mt-4"> Recettes de la communauté</h1>

			<div class="d-flex justify-content-center flex-wrap mt-4">
				{% for recipe in recipes %}


					<div class="card border-primary mb-3" style="max-width: 20rem;">
						<div class="card-header">Recette n°{{ recipe.id }}</div>
						<div class="card-body">
							<h4 class="card-title">{{ recipe.name }}</h4>
							<div class="image_directory mt-4">
							{% if recipe.image %}
								<img style="object-fit: cover; width: 100px; height: 100px;" src="{{ asset('../image/products/'~ recipe.image) }}" alt="Photo de la recette"/>
							{% else %}
								<img style="object-fit: cover; width: 100px; height: 100px;" src="{{ asset('../image/products/replace.jpg') }}" alt="Photo par défaut de la recette"/>
							{% endif %}
							</div>
							<p class="card-text">{{ recipe.description|slice(0, 100) ~ '...' }}</p>
						</div>
						<a href="{{ path('recipe.show', { id: recipe.id }) }}" class="btn btn-outline-warning mt-4">
							Découvrir
						</a>
					</div>
				{% endfor %}
			</div>
		</div>
	{% else %}
		<h4>Il n'y a pas de recettes</h4>
	{% endif %}
	<div>
	{% endblock %}
